- var Avatar = "https://pbs.twimg.com/profile_images/678615258437656576/2x8Rv1Gr_400x400.jpg";
doctype html
html(lang="es_ES")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="./public/css/index.css")
    link(rel="shortcut icon", type="image/png", href="#{Avatar}")
    title Miguh Ruiz | Full Stack JavaScript Developer
  body
    nav
      div.branding
        img(src="#{Avatar}", class="branding-image")
        p.branding-title Miguh Ruiz
        p.branding-description Full Stack JavaScript Developer
    section.page
      article.calltoaction
        h1.branding-call Full Stack JavaScript Developer
        div.branding-button
          a(class="branding-btn-call", href="http://blog.miguhruiz.xyz/contacto") Contáctame
      div.stacks-container
        p.stacks-introduction Actualmente trabajo con estos stacks
        article.stacks
          template.stack
            .stack
              img(src="", class="stack-image")
              p.stack-title
        article.posts
          // p.posts-introduction Últimamente he escrito sobre
          template.post
            img(src="", class="post-image")
            a(href="", class="post-title")
    footer
      div.branding
        img(src="#{Avatar}", class="branding-image")
        p.branding-title Miguh Ruiz
        p.branding-description Full Stack JavaScript Developer
      div.icons
        a(href="http://blog.miguhruiz.xyz", class="icon-newspaper blog", target="_blank")
        a(href="https://github.com/Galaxy42", class="icon-github github", target="_blank")
        a(href="https://twitter.com/MiguhRuiz", class="icon-twitter twitter", target="_blank")
    script(src="./public/js/build.js")
